/*

@Author: Akhouad-me
@URL: http://www.akhouad.me
 
This file contains the styling for the actual theme, this
is the file you need to edit to change the look of the
theme.


// Table of contents //

		Body
	0.  General
	1.  Header & footer
	2.  Site heroes
	3.  Services
	4.  Portfolio
	5.  Inputs & textareas styles
	6.  Benefits styles
	7.  Pricing plans styles
	8.  Team styles
	9.  Testimonials styles
	10. clients styles
	11. Blog styles
	
*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700); /* Montserrat font */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800); /* Open sans font */

/* ##### GENERAL  ##### */
*{
	outline:0;padding: 0;margin:0;
	-webkit-box-sizing:border-box;
	        box-sizing:border-box;
}
body{
	background: #fff;
	color:#60606e;
	font-family: "Open sans", sans-serif;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

/* ##### 00 : GENERAL  ##### */
section{
	margin-top: 150px;
}
.green-section{
	background-color:#7beec7;
}
.white-section{
	background-color:#fff;
}
.light-gray-section{
	background-color: #efeff0;
}
img{width:100%;}

/*blockquote*/
blockquote.bq{
	padding: 30px;
	border-left: solid 10px #7beec7;
	font-style: italic;
	font-size: 14px;
	line-height: 30px;
	color:#999999;
	background-color: #efeff0;
}

/*links*/
a{
	color:#60606e;
	-webkit-transition:all .2s ease-in-out;
			transition:all .2s ease-in-out;
}
a.link{
	position: relative;
}
a.link:after{
	content: "";
	position: absolute;
	bottom: -10px;
	left: 0;
	width: 0;
	height: 1px;
	background-color: #7beec7;
	-webkit-transition:all .2s ease-in-out;
			transition:all .2s ease-in-out;
}
a:hover, a:focus{
	color:#60606e;
	text-decoration: none;
}
a:hover:after{
	width: 50%;
}
/*texts*/
.montserrat-text{font-family: "Montserrat", sans-serif; font-weight: 700}
.open-sans-text{font-family: "Open sans", sans-serif}
.white-text{color:white;}
.green-text{color:#7beec7;}
.gray-text{color:#999999;}

.uppercase{text-transform: uppercase;}
.italic{font-style: italic;}
p{
	font-family: "Open sans", sans-serif;
	color:#999999;
	line-height: 30px;
}
ul.social-icons li a:hover{
	color:#7beec7;
}
/*section's title*/
.section-title{
	width: 50%;
	margin: 0 auto 100px;
	text-align: center;
}
.section-title span{
	position: relative;
	z-index: 1;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 30px;
	text-transform: uppercase;
	color:#60606e;
	position: relative;
	display: inline-block;
	margin-bottom: 20px;
}
.section-title span:after{
	content: "";
	background-color: #7beec7;
	position: absolute;
	top:20px;
	left:0;
	z-index: -1;
	width: 60px;
	height: 20px;
}
.section-title p{
	line-height: 24px;
	color:#60606e;
}
@media (max-width: 991px) {
	.section-title{
		margin : 0 auto 50px;
	}
	.section-title span:after{
		left:50%;
		-webkit-transform:translateX(-50%);
		    -ms-transform:translateX(-50%);
		        transform:translateX(-50%);
	}
}


/*lists*/
/*list 1*/
ul.list li{
	list-style: none;
	position: relative;
	padding-left: 20px;
	margin-bottom: 10px;
}
ul.list li:last-child{margin-bottom: 0}
ul.list li:before{
	font-family: "Ionicons";
	content: '\f374';
	position: absolute;
	left: 0;
	color:#7beec7;
}
/*list 2*/
ul.list_2 li{
	list-style: none;
	float: left;
	width: 100%;
}
ul.list_2 li a{
	display: inline-block;
	padding: 20px;
	border-bottom: solid 1px #bfbfbf;
	width: 100%;
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}
ul.list_2 li:first-child a{border-top:solid 1px #bfbfbf;}
ul.list_2 li a > span{
	float: right;
}
ul.list_2 li a:hover{border-bottom: solid 1px #7beec7;}
/*list 3 (tags)*/
ul.tags{
	float: left;
}
ul.tags li{
	list-style: none;
	margin-right: 5px;
	margin-bottom: 5px;
	float: left;
}
ul.tags li a{
	display: inline-block;
	height: 30px;
	line-height: 30px;
	color:#999999;
	background-color: #e5e5e5;
	padding: 0 15px;
	font-family: "Montserrat", sans-serif;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
}
ul.tags li a:hover{
	background-color: #f2f2f2;
	color:#60606e;
}

/*social icons*/
ul.social-icons li{
	list-style: none;
	float: left;
	margin: 0 10px;
}
ul.social-icons li:first-child{margin:0 10px 0 0;}
ul.social-icons li:last-child{margin:0 0 0 10px;}
ul.social-icons li a{
	color:#999999;
	font-size: 18px;
}

/*buttons*/
.btn{
	height: 50px;
	line-height: 50px;
	min-width: 150px;
	text-align: center;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	border-radius:0;
	padding: 0;
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}
.btn:hover{
	-webkit-transform:scale(1.01);
	    -ms-transform:scale(1.01);
	        transform:scale(1.01);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.2);
	        box-shadow: 0 0 10px rgba(0,0,0,.2);
}
.btn.green{
	background-color: #7beec7;
	color:#fff;
}
.btn.white{
	background-color: #fff;
	color:#7beec7;
}
@media (max-width: 991px) {
	.btn{
		margin: 20px 0;
	}
}


/*tab menu*/
.tab{
	overflow: hidden;
	float: left;
}
.tab nav{
	width: 100%;
	display: inline-block;
	float: left;
	border-bottom: solid 2px #e6e6e6;
	margin-bottom: 30px;
	position: relative;
}
.tab nav .bottom-line{
	height: 2px;
	background-color: #7beec7;
	position: absolute;
	bottom: -2px;
	left: 0;
	-webkit-transition:all .2s ease-in-out;
			transition:all .2s ease-in-out;
}
.tab nav a{
	font-family: "Montserrat", sans-serif;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 0 10px 20px;
	color:#999999;
	display: inline-block;
	-webkit-transition:all .2s ease-in-out;
			transition:all .2s ease-in-out;
	position: relative;
}
.tab nav a.current{color:#60606e;}
.tab .tab_single{display: none;}
.tab .tab_single.shown{display: block;}




/* ##### 05 : INPUTS & TEXTAREAS STYLES  ##### */
/*textarea 1*/
.textarea_1{
	height: 200px;
	width: 100%;
	border:solid 1px rgba(0,0,0,.1);
	position: relative;
}
.textarea_1 textarea{
	height: 100%;
	width: 100%;
	border:0;
	padding: 20px;
	background-color: transparent;
	float: left;
	z-index: 2;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	color:#9a9a9a;
}
.textarea_1 > span{
	position: absolute;
	top:20px;
	left: 20px;
	-webkit-transform:translateY(-50%);
	    -ms-transform:translateY(-50%);
	        transform:translateY(-50%);
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
	color:#cdcdcd;
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	z-index: 1;
}
/*input 1*/
.input_1{
	height: 50px;
	width: 100%;
	border:solid 1px rgba(0,0,0,.1);
	position: relative;
}
.input_1 input[type="text"]{
	height: 100%;
	width: 100%;
	border:0;
	padding: 0 20px;
	float: left;
	position: relative;
	background-color: transparent;
	z-index: 2;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	color:#9a9a9a;
}
.input_1 > span{
	position: absolute;
	top:50%;
	left: 20px;
	-webkit-transform:translateY(-50%);
	    -ms-transform:translateY(-50%);
	        transform:translateY(-50%);
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
	color:#cdcdcd;
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	z-index: 1;
}
.input_1 > span.active,.textarea_1 > span.active{
	color:#7beec7;
	font-size: 10px;
	top:0px;
	left: 5px;
	background-color: #fff;
	padding: 5px
}
/*input 2*/
.input_2{
	width: 100%;
	height: 40px;
	background-color: #ececec;
	position: relative;
}
.input_2 > input{
	height: 100%;
	width: -webkit-calc(100% - 40px);
	width: calc(100% - 40px);
	border:0;
	background-color: transparent;
	padding: 0 20px;
	font-family: "Montserrat", sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	float: left;
	-webkit-transition:all .2s ease-in-out;
			transition:all .2s ease-in-out;
}
.input_2 > button{
	height: 100%;
	width: 40px;
	border:0;
	background-color: transparent;
}
.input_2 > input:focus{
	background-color: #f2f2f2;
}


/* ##### 11 : BLOG STYLES  ##### */
/*blog posts*/
.blog_post{
	margin-bottom: 100px;
}
.post_media{
	margin-bottom: 30px;
}
.post_media *{
	width: 100%;
	max-height: 500px;
}
.post_title{
	margin-bottom: 20px;
}
.post_title span.post_date{
	font-size: 11px;
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	background-color:#7beec7;
	padding: 5px;
	color:white;
}
.post_info{margin-bottom: 20px}
.post_info .post_date{
	background-color: #7beec7;
	height: 30px;
	line-height: 30px;
	padding: 0 15px;
	color:white;
	float: left;
	margin-right: 15px;
}
.post_info > *{line-height: 30px}
.post_info > i{
	color: #cccccc;
	font-size: 18px;
	margin-right: 5px;
}
.post_info > span{
	color:#cccccc;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	margin-right: 20px;
}
.blog_post > a{
	display: inline-block;
	margin-top: 10px;
}

/*masonry blog posts*/
.blog_post_masonry{
	width: 100%;
	margin-bottom: 50px;
}
.blog_post_masonry .post_media {margin-bottom: 0}
.blog_post_masonry .post_info {margin:10px 0;}
.blog_post_masonry .post_date{display: block;width: 100%;}



/*sidebar*/
@media (max-width: 991px) {
	.sidebar{margin-top: 100px;}
}
.sidebar{float: left;}
.sidebar .widget{
	margin-bottom: 50px;
	width: 100%;
	float: left;
}
.sidebar .widget:last-child{margin-bottom: 0;}
.sidebar .widget .widget_title{
	font-size: 14px;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.sidebar .widget .related_post{
	margin-bottom: 15px;
	width: 100%;
	float: left;
}
.related_post:hover .thumb{opacity: .5}
.thumb{
	max-height: 60px;
	max-width: 60px;
	display: inline-block;
	margin-right:15px;
	float: left;
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}
.sidebar .widget .related_post .post_title{font-size: 14px;}
.sidebar .widget .related_post .post_date{font-size: 12px;}
.thumb:hover{opacity: .5}

/*pagination*/
.blog_pagination{
	width: 100%;
	text-align: center;
	float: left;
}
.blog_pagination .page {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
	display: inline-block;
}
.blog_pagination .page span{
	display: inline-block;
	padding: 0 20px;
}
.blog_pagination .page i{
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}
.blog_pagination .page:hover i.prev{
	color:#7beec7;
	display: inline-block;
	-webkit-transform:translateX(10px);
	    -ms-transform:translateX(10px);
	        transform:translateX(10px);
}
.blog_pagination .page:hover i.next{
	color:#7beec7;
	display: inline-block;
	-webkit-transform:translateX(-10px);
	    -ms-transform:translateX(-10px);
	        transform:translateX(-10px);
}